* {padding:0;margin:0;}

html {width:100%;height:100%;}
body {font-family:Arial, Helvetica, Sans-serif;font-size:1em;line-height:1.2;font-weight:400;color:#434343;background:#FFF;}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  outline-offset: 10px;
  padding:10px;
  
}

.container {margin:0 auto;}

header {margin:25px 0;
background:#121212;}
header img{
		margin:auto;
		max-width: 6em;}

.text_shadow{
	margin-left:1em;
	margin-top:0.25em;
	color: #FFC000;
	font-size: 2.5em;
	text-shadow: rgb(186, 149, 39) 4px 4px 7px;
	text-align:center;
}

aside {float:left;margin:0 0 15px;}
aside nav ul {list-style:none;}
aside nav ul li {margin-bottom:1px;}
aside nav ul li span{display:block;color:#000;background:#FF6600;padding:8px 20px; margin:1px; font-weight:900;}
aside nav ul li a {display:block;text-decoration:none;color:#000;background:#FFC000;padding:8px 20px;}
aside nav ul li a:hover{background:#212121;color:#FFF;}
/*
aside nav ul li {display:block;color:#000;background:#FFC000;padding:8px 20px; margin:1px; font-weight:900;}
aside nav ul li a {text-decoration:none;color:#000;background:#FFC000; margin:0; font-weight:normal;}
aside nav ul li a:hover{background:#212121;color:#FFF;}
*/
#main {float:right;margin:0 0 15px;}

.red{
	color:#F00;
	}
.bold{
	text-decoration:underline;
	font-weight:bold;
	}
	
.produkt{
	border-radius:5px;
	width:30%;
	margin:3px;
	float:left;
	padding:5px;
	display:block;	
	}

footer {clear:both;color:#FFF;background:#121212;padding:10px 0 10px 50px;margin:0 10 px; text-align:center; font-size: 0.7em;}


@media (min-width: 1000px) {
	.container {width:95%;}
	aside {width:20%;}
	#main {width:75%;}
}
@media (max-width: 1000px) and (min-width: 500px) {
	.container {width:93%;}
	aside {width:20%;}
	#main {width:75%;}
	.text_shadow{font-size: 1.5em;}
}
@media (max-width: 500px){
	.container {width:90%;}
	aside,
	#main {width:100%;}
	header img{width:10%;}
	.text_shadow{font-size: 1em;}
}

